@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
	background-color: #000000;
	box-shadow: 4px 4px 15px 1px #c21010;
	
	font-family: 'Rubik', sans-serif;
}
a{
	color:red
	
}
div{
	color:white
	
}	

.block1{
	background: linear-gradient(0deg, #262222, #b83737);
	cursor: default;
	border: 6px solid  #ffffff
  
}
.block1{
	font-style: inherit;
	font-size: large;
 
}