@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@200;300;400;500;600;700&display=swap');
body{
	background-color: #000000;
	box-shadow: 4px 4px 15px 1px #c21010;
	font-family: 'Yanone Kaffeesatz', sans-serif;
}
a{
	color:red
	
}
div{
	color:white
	
}	

.block1{
	background: linear-gradient(0deg, #262222, #b83737);
	cursor: default;
	border: 6px solid  #ffffff
  
}
.block1{
	font-style: inherit;
	font-size: large;
 
}